@font-face {
  font-family: 'QTCloisteredMonk';
  src: url('../fonts/QTCloisteredMonk.woff2') format('woff2'),
      url('../fonts/QTCloisteredMonk.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}