@font-face {
  font-family: 'Moustache';
  src: url('../../assets/Moustache-Bold.woff2') format('woff2'),
      url('../../assets/Moustache-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
