.bigHeading {
    color: #000;
    font-size: 8rem;
    font-family: 'Moustache';
    font-weight: 500;
    font-style: bold;
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.4));
    margin: 3rem 0 2rem 0;
    letter-spacing: 2px;
  }

div.content {
  position: relative;
}

section {
  overflow: auto;
  min-height: 300px;
  margin: 5px 0;

  &:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  }

  &:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5)
  }
}

div.background {
  position: fixed;
}

div.background::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: -5px;
  left: -5px;
  width: 110%;
  height: 100%;
  background-image: url('../../assets/flaschenwiese.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}
