// Simple css sanitizing, TODO: check premade solutions or keep
*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.whiteee {
  color: white;
  svg {
    height: 100px;
  }
}

.bigHeading {
  color: #f3f;
  font-size: 20rem;
  font-family: 'QTCloisteredMonk';
  font-weight: 500;
  font-style: normal;
}

.BeerBackground {
  width: 100%;
}

Title {
  margin: auto;
}

.text-section:nth-of-type(odd) div {
    background-color: rgba(0,0,0,0.5);
}