// Simple css sanitizing, TODO: check premade solutions or keep
*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
  overflow: hidden;
  height: 2000px;;
}